<div style="margin: 16px 0; display:flex; justify-content: center; width: 300px">

    <a style="margin: 0 8px;" href="/">Ingresar nuevo producto</a>
    <a style="margin: 0 8px;" href="/productos">Lista de productos</a>
</div>